# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Entorno virtual
.venv/
venv/

# Caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Herramientas de desarrollo
.vscode/
.ruff_cache/
.pre-commit-config.yaml
ruff.toml